/* .hero-container{
    /* width: 20%;  */
    /* height: 50%;
    padding-top: 28rem;
    background-image: url('./../../../public/pexels.jpg');
    background-position: center;
    object-fit: cover;
    border: 3px groove rgb(255, 162, 3); */
    /* padding-block: 18rem;
    padding-inline: 18rem; */
    /* text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-size: larger;
    */
    
/* } */

/* .inner-container{
    text-shadow: white;
/* } */ 
