.fuck {
    background: rgb(255, 193, 22);

}

.routes {
    list-style: none;
    display: flex;
    gap: 2rem;
    /* border-bottom: 3px groove #333; */
    font-size: large;
    font-weight: 500;
    justify-items: 2;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    justify-items: left;



}


.company-title {
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.93);
    display: flex;
    align-items: center;
    gap: 1rem;



}

.nav-colors {
    font-size: larger;
    font-weight: 500;

}

.home-color {
    font-size: larger;
    font-weight: 500;

}

.help-color {
    font-size: larger;
    font-weight: 500;
}

.about-color {
    font-size: larger;
    font-weight: 500;
}
.contact-color {
    font-size: larger;
    font-weight: 500;
}

.body {
    background-color: black;
}

.burger {}

.burger {
    display: flex;

}