.CarouselFadeExample{
    width: 50px;
}
.head{
}
.alright{
    text-decoration: antiquewhite;
}

.title{
    color: aliceblue;
}

#one{
    font-size:xx-large;
    color: aliceblue;
    font-weight: 600;
}